*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// body{
//     background-color: #232f3fee;
// }
.upperSendEmail{
    height: 150px;
    background-color:  #ff7e00;
}
.titleSendEmail{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 427px;
    background-color: #232f3fee;
    color: white;
    h1{
        font-family: 'Rubik', sans-serif;
    }
}
.bottomSendEmail{
    height: 150px;
    background-color:  #ff7e00;
}