#MainHeader {
  background-color: #232f3f;
}
#MainHeader.headerScroll {
  background-color: rgba(35, 47, 63, 0.9333333333);
  position: sticky;
  z-index: 1000000000;
  transition: 0.5s;
  top: 0;
}
#MainHeader .upper {
  display: flex;
  align-items: center;
  height: 50px;
}
#MainHeader .upper .info p {
  color: white;
  font-size: 13px;
  margin: 0;
  font-family: "Rubik", sans-serif;
}
#MainHeader .upper .info p span {
  font-size: 14px;
  margin-left: -4px;
  font-family: "Rubik", sans-serif;
}
#MainHeader .upper .info p:hover {
  color: #ff7e00;
  cursor: pointer;
}
#MainHeader .upper .nav {
  display: flex;
  justify-content: end;
}
#MainHeader .upper .nav li {
  color: white;
  font-size: 13px;
  margin-right: 20px;
  font-family: "Rubik", sans-serif;
}
#MainHeader .upper .nav li a {
  color: white;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}
#MainHeader .upper .nav li a:hover {
  color: #ff7e00;
}
#MainHeader .upper .nav li:hover {
  color: #ff7e00;
  cursor: pointer;
}
#MainHeader .upper .nav .login {
  position: relative;
}
#MainHeader .upper .nav .login i {
  margin-left: 2px;
  font-size: 10px;
}
#MainHeader .upper .nav .login .empty {
  height: 10px;
  width: 10px;
  background-color: white;
  position: absolute;
  left: 66px;
  top: 26px;
  transform: rotateZ(45deg);
}
#MainHeader .upper .nav .login .panel {
  z-index: 200;
  border-radius: 3px;
  width: 150px;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-bottom: 10px;
  right: 1px;
  top: 30px;
}
#MainHeader .upper .nav .login .panel ul {
  padding-left: 15px;
}
#MainHeader .upper .nav .login .panel ul li {
  list-style: none;
  padding-top: 10px;
}
#MainHeader .upper .nav .login .panel ul li a {
  color: #666;
  font-family: "Rubik", sans-serif;
}
#MainHeader .upper .nav .price {
  display: flex;
}
#MainHeader .upper .nav .price i {
  margin-top: 4px;
  margin-left: 3px;
  font-size: 10px;
}
#MainHeader .middle {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#MainHeader .middle .logo img {
  width: 94%;
}
#MainHeader .middle .input input {
  width: 90%;
  height: 45px;
  border-radius: 22px;
  margin-left: 15px;
}
#MainHeader .middle .input input::placeholder {
  padding: 10px;
  padding-left: 30px;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
}
#MainHeader .middle .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
#MainHeader .middle .icons .accountIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  position: relative;
}
#MainHeader .middle .icons .accountIcon .emptyMyAcc {
  height: 10px;
  width: 10px;
  background-color: white;
  position: absolute;
  left: 17px;
  top: 49px;
  transform: rotateZ(45deg);
}
#MainHeader .middle .icons .accountIcon .panelMyAcc {
  padding-top: 6px;
  border-radius: 3px;
  width: 150px;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-bottom: 10px;
  left: 11px;
  top: 52px;
  z-index: 200;
}
#MainHeader .middle .icons .accountIcon .panelMyAcc ul {
  padding-left: 15px;
  font-size: 14px;
}
#MainHeader .middle .icons .accountIcon .panelMyAcc ul li {
  display: block;
  list-style: none;
  padding-top: 5px;
}
#MainHeader .middle .icons .accountIcon .panelMyAcc ul li a {
  color: #666;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}
#MainHeader .middle .icons .accountIcon .icon {
  border: 1px solid gray;
  border-radius: 50%;
  padding: 7px;
  width: 40px;
  height: 40px;
  text-align: center;
  transition: 0.6s;
  margin-right: 8px;
}
#MainHeader .middle .icons .accountIcon .icon i {
  color: #ff7e00;
  font-size: 18px;
  transition: 0.6s;
}
#MainHeader .middle .icons .accountIcon .icon:hover {
  background-color: #ff7e00;
}
#MainHeader .middle .icons .accountIcon .icon:hover i {
  color: white;
}
#MainHeader .middle .icons .accountIcon .text {
  font-family: "Rubik", sans-serif;
}
#MainHeader .middle .icons .accountIcon .text .hello {
  color: white;
}
#MainHeader .middle .icons .accountIcon .text .account {
  color: #8d9297;
}
#MainHeader .middle .icons .accountIcon .text span {
  display: block;
  font-size: 13px;
}
#MainHeader .middle .icons .basketIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#MainHeader .middle .icons .basketIcon .emptyBasketItems {
  height: 15px;
  width: 15px;
  background-color: white;
  position: absolute;
  left: 14px;
  top: 46px;
  transform: rotateZ(45deg);
}
#MainHeader .middle .icons .basketIcon .panelBasketItems {
  padding-top: 10px;
  border-radius: 3px;
  width: 290px;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-bottom: 10px;
  right: -22px;
  top: 52px;
  z-index: 5000;
}
#MainHeader .middle .icons .basketIcon .panelBasketItems ul {
  padding-left: 10px;
}
#MainHeader .middle .icons .basketIcon .panelBasketItems ul li {
  list-style: none;
  padding-top: 10px;
  border-bottom: 1px solid #e5e5e5;
}
#MainHeader .middle .icons .basketIcon .panelBasketItems ul li .product {
  display: flex;
}
#MainHeader .middle .icons .basketIcon .panelBasketItems ul li .product .image img {
  width: 65px;
}
#MainHeader .middle .icons .basketIcon .panelBasketItems ul li .product .about {
  margin-left: 15px;
}
#MainHeader .middle .icons .basketIcon .panelBasketItems ul li .product .about .name {
  font-family: "Rubik", sans-serif;
  color: #666;
}
#MainHeader .middle .icons .basketIcon .panelBasketItems ul li .product .about .name a {
  font-size: 14px;
  color: #666;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}
#MainHeader .middle .icons .basketIcon .panelBasketItems ul li .product .about .name a:hover {
  color: #ff7e00;
}
#MainHeader .middle .icons .basketIcon .panelBasketItems ul li .product .about .priceCount {
  font-family: "Rubik", sans-serif;
  color: #ff7e00;
}
#MainHeader .middle .icons .basketIcon .panelBasketItems .buttons {
  display: flex;
  justify-content: space-evenly;
}
#MainHeader .middle .icons .basketIcon .panelBasketItems .buttons .goOrder a {
  border-radius: 20px;
  text-align: center;
  padding-top: 4px;
  display: inline-block;
  width: 132px;
  height: 30px;
  font-size: 13px;
  text-decoration: none;
  background-color: #232f3f;
  color: white;
}
#MainHeader .middle .icons .basketIcon .panelBasketItems .buttons .goCart a {
  border-radius: 20px;
  text-align: center;
  padding-top: 4px;
  display: inline-block;
  width: 132px;
  height: 30px;
  font-size: 13px;
  text-decoration: none;
  background-color: #ff7e00;
  color: white;
}
#MainHeader .middle .icons .basketIcon .icon {
  border: 1px solid gray;
  border-radius: 50%;
  padding: 7px;
  width: 40px;
  height: 40px;
  text-align: center;
  transition: 0.6s;
  margin-right: 8px;
}
#MainHeader .middle .icons .basketIcon .icon i {
  color: #ff7e00;
  font-size: 18px;
  transition: 0.6s;
}
#MainHeader .middle .icons .basketIcon .icon:hover {
  background-color: #ff7e00;
}
#MainHeader .middle .icons .basketIcon .icon:hover i {
  color: white;
}
#MainHeader .middle .icons .basketIcon .text {
  font-family: "Rubik", sans-serif;
}
#MainHeader .middle .icons .basketIcon .text .cards {
  color: white;
}
#MainHeader .middle .icons .basketIcon .text .item {
  color: #8d9297;
}
#MainHeader .middle .icons .basketIcon .text span {
  display: block;
  font-size: 13px;
}
#MainHeader .bottom {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#MainHeader .bottom .categories {
  cursor: pointer;
  position: relative;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 50px;
  background-color: #ff7e00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
#MainHeader .bottom .categories:hover .panelCategory {
  display: block;
}
#MainHeader .bottom .categories .allCategory {
  color: white;
  font-family: "Rubik", sans-serif;
  margin-left: 15px;
}
#MainHeader .bottom .categories .icon {
  color: white;
  margin-right: 20px;
}
#MainHeader .bottom .categories .icon i {
  font-size: 25px;
}
#MainHeader .bottom .categories .panelCategory {
  display: none;
  position: absolute;
  top: 50px;
  width: 306px;
  background-color: white;
  border: 2px solid #ff7e00;
  z-index: 11;
}
#MainHeader .bottom .categories .panelCategory ul {
  padding: 10px;
}
#MainHeader .bottom .categories .panelCategory ul li {
  list-style: none;
  margin-top: 15px;
  border-bottom: 1px solid rgba(208, 215, 222, 0.8392156863);
}
#MainHeader .bottom .categories .panelCategory ul li a {
  text-decoration: none;
  color: black;
}
#MainHeader .bottom nav {
  display: flex;
  justify-content: start;
  align-items: center;
}
#MainHeader .bottom nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: start;
  align-items: center;
}
#MainHeader .bottom nav ul li {
  list-style: none;
  margin-left: 25px;
  font-size: 14px;
}
#MainHeader .bottom nav ul li a {
  transition: 0.4s;
  text-decoration: none;
  color: white;
  font-family: "Rubik", sans-serif;
}
#MainHeader .bottom nav ul li a:hover {
  color: #ff7e00;
}

#secondaryHeader {
  background-color: #232f3f;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#secondaryHeader .hamburgerMenu {
  border-bottom: 1px solid #8f8f8f;
  position: absolute;
  top: 53px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
  width: 100%;
  z-index: 300000;
}
#secondaryHeader .hamburgerMenu ul {
  padding: 0;
  margin: 0;
}
#secondaryHeader .hamburgerMenu ul li {
  margin-top: 15px;
  list-style: none;
}
#secondaryHeader .hamburgerMenu ul li a {
  text-decoration: none;
  color: #666;
}
#secondaryHeader .upperRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
#secondaryHeader .upperRow i {
  color: white;
}
#secondaryHeader .upperRow .image {
  text-align: center;
}
#secondaryHeader .upperRow .menu {
  text-align: start;
}
#secondaryHeader .upperRow .basketIcon {
  position: relative;
  text-align: end;
}
#secondaryHeader .upperRow .basketIcon .item {
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: red;
  color: white;
  right: -5px;
  bottom: 11px;
  border-radius: 50px;
  padding: 2px;
}
#secondaryHeader .upperRow .basketIcon .item span {
  position: absolute;
  left: 4px;
  bottom: -1px;
  font-size: 12px;
}
#secondaryHeader .bottomRow .inputDiv {
  padding-top: 20px;
  font-family: "Rubik", sans-serif;
}
#secondaryHeader .bottomRow .inputDiv input {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  border: none;
}

#accountAdress {
  padding-top: 30px;
  padding-bottom: 30px;
}
#accountAdress .title {
  padding: 0;
  margin: 0;
}
#accountAdress .title .TitleText {
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 24px;
}
#accountAdress ul {
  display: inline-block;
  margin-top: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0;
}
#accountAdress ul li {
  padding: 7px;
  border: 1px solid #e5e5e5;
  list-style: none;
  font-size: 14px;
}
#accountAdress ul li a {
  font-family: "Rubik", sans-serif;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}
#accountAdress ul .colorChange {
  background-color: #f7f8f9;
}
#accountAdress ul .current {
  border-top-color: black;
  font-family: "Rubik", sans-serif;
  border-bottom: none;
}
#accountAdress .mainContent {
  padding-top: 25px;
  width: 400px;
  height: 250px;
  background-color: #e5e5e5;
}
#accountAdress .mainContent ul {
  padding: 0;
  margin: 0;
  display: block;
}
#accountAdress .mainContent ul li {
  list-style: none;
}
#accountAdress .mainContent ul .fullName {
  font-weight: 700;
}

footer {
  background-color: #232f3f;
}
footer .upper {
  padding: 45px;
}
footer .upper .accordionFooter .accordion {
  border: none !important;
}
footer .upper .accordionFooter .accordion .accordion-item {
  border: none !important;
}
footer .upper .accordionFooter .accordion .accordion-item .accordion-header button {
  border-color: #232f3f;
  background-color: #232f3f;
  color: white;
  border: none;
}
footer .upper .accordionFooter .accordion .accordion-item .accordion-header button ::after {
  color: white !important;
}
footer .upper .accordionFooter .accordion .accordion-collapse {
  border: none !important;
}
footer .upper .accordionFooter .accordion .accordion-collapse .accordion-body {
  border: none !important;
  border-color: #232f3f;
  background-color: #232f3f;
}
footer .upper .accordionFooter .accordion .accordion-collapse .accordion-body ul {
  padding: 0;
  margin: 0;
}
footer .upper .accordionFooter .accordion .accordion-collapse .accordion-body ul li {
  list-style: none;
}
footer .upper .accordionFooter .accordion .accordion-collapse .accordion-body ul li a {
  text-decoration: none;
  color: white;
}
footer .upper .logo-info .adress .ear {
  margin-top: 20px;
  display: flex;
}
footer .upper .logo-info .adress .ear .text {
  font-family: "Rubik", sans-serif;
}
footer .upper .logo-info .adress .ear .text ul {
  padding: 0;
  margin: 0;
  margin-left: 10px;
}
footer .upper .logo-info .adress .ear .text ul li {
  list-style: none;
  color: white;
}
footer .upper .logo-info .adress .ear .text ul li a {
  text-decoration: none;
  color: #ff7e00;
  transition: 0.4s;
}
footer .upper .logo-info .adress .ear .text ul li a:hover {
  color: white;
}
footer .upper .logo-info .adress .ear .text ul .hot {
  font-size: 13px;
}
footer .upper .logo-info .adress address {
  font-family: "Rubik", sans-serif;
  margin-top: 10px;
  color: #93979c;
  font-size: 15px;
}
footer .upper .logo-info .adress .email {
  font-family: "Rubik", sans-serif;
  color: #93979c;
}
footer .upper .logo-info .adress .email a {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: #ff7e00;
  transition: 0.4s;
}
footer .upper .logo-info .adress .email a:hover {
  color: white;
}
footer .upper .information {
  margin-left: 20px;
}
footer .upper .information .title,
footer .upper .brands .title,
footer .upper .categories .title {
  font-family: "Rubik", sans-serif;
  color: white;
  font-size: 20px;
}
footer .upper .information .nav,
footer .upper .brands .nav,
footer .upper .categories .nav {
  margin-top: 20px;
}
footer .upper .information .nav ul,
footer .upper .brands .nav ul,
footer .upper .categories .nav ul {
  padding: 0;
  margin: 0;
  line-height: 35px;
  font-size: 15px;
}
footer .upper .information .nav ul li,
footer .upper .brands .nav ul li,
footer .upper .categories .nav ul li {
  font-family: "Rubik", sans-serif;
  list-style: none;
}
footer .upper .information .nav ul li a,
footer .upper .brands .nav ul li a,
footer .upper .categories .nav ul li a {
  text-decoration: none;
  color: #93979c;
}
footer .bottomLine {
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}
footer .bottomLine .text p {
  margin: 0;
  color: #93979c;
  font-size: 14px;
}
footer .bottomLine .text p a {
  text-decoration: none;
  color: #ff7e00;
  transition: 0.5s;
}
footer .bottomLine .text p a:hover {
  color: white;
}
footer .bottomLine .paymant ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .bottomLine .paymant ul li {
  list-style: none;
  color: #93979c;
  margin-right: 15px;
}
footer .bottomLine .paymant ul li i {
  font-size: 25px;
}/*# sourceMappingURL=accountAdress.css.map */