.order {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}
.order .aboutUser {
  padding: 30px 20px 30px 20px;
}
.order .aboutUser .customerEmail {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.order .aboutUser .customerEmail .title h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
}
.order .aboutUser .customerEmail .email {
  font-family: "Rubik", sans-serif;
}
.order .aboutUser .shippingInfo {
  padding-top: 30px;
}
.order .aboutUser .shippingInfo .title h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
}
.order .aboutUser .shippingInfo .text {
  padding-top: 30px;
  font-family: "Rubik", sans-serif;
}
.order .aboutUser .shippingInfo .text .name {
  padding-bottom: 10px;
}
.order .aboutUser .shippingInfo .text .name h3 {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-weight: 900;
}
.order .aboutUser .shippingInfo .text .descr {
  border: 1px solid #ddd;
  padding: 10px;
}
.order .aboutUser .shippingInfo .text .descr ul {
  padding: 0;
  margin: 0;
}
.order .aboutUser .shippingInfo .text .descr ul li {
  list-style: none;
}
.order .aboutUser .button {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 30px;
}
.order .aboutUser .button a {
  padding-top: 4px;
  width: 145px;
  height: 35px;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  background-color: #444;
  border-color: #444;
  color: #fff;
  text-decoration: none;
}
.order .orderInfo .mainContent {
  font-family: "Rubik", sans-serif;
  margin: 0 auto;
  width: 400px;
  height: 402px;
  border: 1px solid #ddd;
}
.order .orderInfo .mainContent .title {
  padding: 15px;
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.order .orderInfo .mainContent .title span a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}
.order .orderInfo .mainContent .main {
  border-bottom: 1px solid #ddd;
}
.order .orderInfo .mainContent .main .content {
  padding: 15px;
}
.order .orderInfo .mainContent .main .content .count {
  font-family: "Rubik", sans-serif;
}
.order .orderInfo .mainContent .main .content .count span {
  font-size: 14px;
  color: #333;
}
.order .orderInfo .mainContent .main .content .product {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}
.order .orderInfo .mainContent .main .content .product .image img {
  width: 75px;
}
.order .orderInfo .mainContent .main .content .product .text p {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  color: #333;
}
.order .orderInfo .mainContent .main .content .product .price span {
  font-size: 14px;
  color: #333;
}
.order .orderInfo .mainContent .subtotal_And_Tax {
  border-bottom: 1px solid #ddd;
}
.order .orderInfo .mainContent .subtotal_And_Tax .subtotal, .order .orderInfo .mainContent .subtotal_And_Tax .tax {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order .orderInfo .mainContent .subtotal_And_Tax .subtotal h6, .order .orderInfo .mainContent .subtotal_And_Tax .tax h6 {
  color: #333;
  font-size: 14px;
  font-weight: 600;
}
.order .orderInfo .mainContent .total {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order .orderInfo .mainContent .total h5 {
  font-size: 35px;
  font-weight: 700;
}/*# sourceMappingURL=order.css.map */