* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#MainHeader {
  background-color: #232f3f;
}
#MainHeader .upper {
  display: flex;
  align-items: center;
  height: 50px;
}
#MainHeader .upper .info p {
  color: white;
  font-size: 13px;
  margin: 0;
  font-family: "Rubik", sans-serif;
}
#MainHeader .upper .info p span {
  font-size: 14px;
  margin-left: -4px;
  font-family: "Rubik", sans-serif;
}
#MainHeader .upper .info p:hover {
  color: #ff7e00;
  cursor: pointer;
}
#MainHeader .upper .nav {
  display: flex;
  justify-content: end;
}
#MainHeader .upper .nav li {
  color: white;
  font-size: 13px;
  margin-right: 20px;
  font-family: "Rubik", sans-serif;
}
#MainHeader .upper .nav li a {
  color: white;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}
#MainHeader .upper .nav li a:hover {
  color: #ff7e00;
}
#MainHeader .upper .nav li:hover {
  color: #ff7e00;
  cursor: pointer;
}
#MainHeader .upper .nav .login {
  position: relative;
}
#MainHeader .upper .nav .login i {
  margin-left: 2px;
  font-size: 10px;
}
#MainHeader .upper .nav .login .empty {
  height: 10px;
  width: 10px;
  background-color: white;
  position: absolute;
  left: 66px;
  top: 26px;
  transform: rotateZ(45deg);
}
#MainHeader .upper .nav .login .panel {
  z-index: 200;
  border-radius: 3px;
  width: 150px;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-bottom: 10px;
  right: 1px;
  top: 30px;
}
#MainHeader .upper .nav .login .panel ul {
  padding-left: 15px;
}
#MainHeader .upper .nav .login .panel ul li {
  list-style: none;
  padding-top: 10px;
}
#MainHeader .upper .nav .login .panel ul li a {
  color: #666;
  font-family: "Rubik", sans-serif;
}
#MainHeader .upper .nav .price {
  display: flex;
}
#MainHeader .upper .nav .price i {
  margin-top: 4px;
  margin-left: 3px;
  font-size: 10px;
}
#MainHeader .middle {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#MainHeader .middle .logo img {
  width: 94%;
}
#MainHeader .middle .input input {
  width: 90%;
  height: 45px;
  border-radius: 22px;
  margin-left: 15px;
}
#MainHeader .middle .input input::placeholder {
  padding: 10px;
  padding-left: 30px;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
}
#MainHeader .middle .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
#MainHeader .middle .icons .accountIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  position: relative;
}
#MainHeader .middle .icons .accountIcon .emptyMyAcc {
  height: 10px;
  width: 10px;
  background-color: white;
  position: absolute;
  left: 17px;
  top: 49px;
  transform: rotateZ(45deg);
}
#MainHeader .middle .icons .accountIcon .panelMyAcc {
  padding-top: 6px;
  border-radius: 3px;
  width: 150px;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-bottom: 10px;
  left: 11px;
  top: 52px;
  z-index: 200;
}
#MainHeader .middle .icons .accountIcon .panelMyAcc ul {
  padding-left: 15px;
  font-size: 14px;
}
#MainHeader .middle .icons .accountIcon .panelMyAcc ul li {
  display: block;
  list-style: none;
  padding-top: 5px;
}
#MainHeader .middle .icons .accountIcon .panelMyAcc ul li a {
  color: #666;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}
#MainHeader .middle .icons .accountIcon .icon {
  border: 1px solid gray;
  border-radius: 50%;
  padding: 7px;
  width: 40px;
  height: 40px;
  text-align: center;
  transition: 0.6s;
  margin-right: 8px;
}
#MainHeader .middle .icons .accountIcon .icon i {
  color: #ff7e00;
  font-size: 18px;
  transition: 0.6s;
}
#MainHeader .middle .icons .accountIcon .icon:hover {
  background-color: #ff7e00;
}
#MainHeader .middle .icons .accountIcon .icon:hover i {
  color: white;
}
#MainHeader .middle .icons .accountIcon .text {
  font-family: "Rubik", sans-serif;
}
#MainHeader .middle .icons .accountIcon .text .hello {
  color: white;
}
#MainHeader .middle .icons .accountIcon .text .account {
  color: #8d9297;
}
#MainHeader .middle .icons .accountIcon .text span {
  display: block;
  font-size: 13px;
}
#MainHeader .middle .icons .basketIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#MainHeader .middle .icons .basketIcon .emptyBasketItems {
  height: 15px;
  width: 15px;
  background-color: white;
  position: absolute;
  left: 14px;
  top: 46px;
  transform: rotateZ(45deg);
}
#MainHeader .middle .icons .basketIcon .panelBasketItems {
  padding-top: 10px;
  border-radius: 3px;
  width: 290px;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-bottom: 10px;
  right: -22px;
  top: 52px;
  z-index: 5000;
}
#MainHeader .middle .icons .basketIcon .panelBasketItems ul {
  padding-left: 10px;
}
#MainHeader .middle .icons .basketIcon .panelBasketItems ul li {
  list-style: none;
  padding-top: 10px;
  border-bottom: 1px solid #e5e5e5;
}
#MainHeader .middle .icons .basketIcon .panelBasketItems ul li .product {
  display: flex;
}
#MainHeader .middle .icons .basketIcon .panelBasketItems ul li .product .image img {
  width: 65px;
}
#MainHeader .middle .icons .basketIcon .panelBasketItems ul li .product .about {
  margin-left: 15px;
}
#MainHeader .middle .icons .basketIcon .panelBasketItems ul li .product .about .name {
  font-family: "Rubik", sans-serif;
  color: #666;
}
#MainHeader .middle .icons .basketIcon .panelBasketItems ul li .product .about .name a {
  font-size: 14px;
  color: #666;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}
#MainHeader .middle .icons .basketIcon .panelBasketItems ul li .product .about .name a:hover {
  color: #ff7e00;
}
#MainHeader .middle .icons .basketIcon .panelBasketItems ul li .product .about .priceCount {
  font-family: "Rubik", sans-serif;
  color: #ff7e00;
}
#MainHeader .middle .icons .basketIcon .panelBasketItems .buttons {
  display: flex;
  justify-content: space-evenly;
}
#MainHeader .middle .icons .basketIcon .panelBasketItems .buttons .goOrder a {
  border-radius: 20px;
  text-align: center;
  padding-top: 4px;
  display: inline-block;
  width: 132px;
  height: 30px;
  font-size: 13px;
  text-decoration: none;
  background-color: #232f3f;
  color: white;
}
#MainHeader .middle .icons .basketIcon .panelBasketItems .buttons .goCart a {
  border-radius: 20px;
  text-align: center;
  padding-top: 4px;
  display: inline-block;
  width: 132px;
  height: 30px;
  font-size: 13px;
  text-decoration: none;
  background-color: #ff7e00;
  color: white;
}
#MainHeader .middle .icons .basketIcon .icon {
  border: 1px solid gray;
  border-radius: 50%;
  padding: 7px;
  width: 40px;
  height: 40px;
  text-align: center;
  transition: 0.6s;
  margin-right: 8px;
}
#MainHeader .middle .icons .basketIcon .icon i {
  color: #ff7e00;
  font-size: 18px;
  transition: 0.6s;
}
#MainHeader .middle .icons .basketIcon .icon:hover {
  background-color: #ff7e00;
}
#MainHeader .middle .icons .basketIcon .icon:hover i {
  color: white;
}
#MainHeader .middle .icons .basketIcon .text {
  font-family: "Rubik", sans-serif;
}
#MainHeader .middle .icons .basketIcon .text .cards {
  color: white;
}
#MainHeader .middle .icons .basketIcon .text .item {
  color: #8d9297;
}
#MainHeader .middle .icons .basketIcon .text span {
  display: block;
  font-size: 13px;
}
#MainHeader .bottom {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#MainHeader .bottom .categories {
  cursor: pointer;
  position: relative;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 50px;
  background-color: #ff7e00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
#MainHeader .bottom .categories:hover .panelCategory {
  display: block;
}
#MainHeader .bottom .categories .allCategory {
  color: white;
  font-family: "Rubik", sans-serif;
  margin-left: 15px;
}
#MainHeader .bottom .categories .icon {
  color: white;
  margin-right: 20px;
}
#MainHeader .bottom .categories .icon i {
  font-size: 25px;
}
#MainHeader .bottom .categories .panelCategory {
  display: none;
  position: absolute;
  top: 50px;
  width: 306px;
  background-color: white;
  border: 2px solid #ff7e00;
  z-index: 11;
}
#MainHeader .bottom .categories .panelCategory ul {
  padding: 10px;
}
#MainHeader .bottom .categories .panelCategory ul li {
  list-style: none;
  margin-top: 15px;
  border-bottom: 1px solid rgba(208, 215, 222, 0.8392156863);
}
#MainHeader .bottom .categories .panelCategory ul li a {
  text-decoration: none;
  color: black;
}
#MainHeader .bottom nav {
  display: flex;
  justify-content: start;
  align-items: center;
}
#MainHeader .bottom nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: start;
  align-items: center;
}
#MainHeader .bottom nav ul li {
  list-style: none;
  margin-left: 25px;
  font-size: 14px;
}
#MainHeader .bottom nav ul li a {
  transition: 0.4s;
  text-decoration: none;
  color: white;
  font-family: "Rubik", sans-serif;
}
#MainHeader .bottom nav ul li a:hover {
  color: #ff7e00;
}

#secondaryHeader {
  background-color: #232f3f;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#secondaryHeader .upperRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
#secondaryHeader .upperRow i {
  color: white;
}
#secondaryHeader .upperRow .image {
  text-align: center;
}
#secondaryHeader .upperRow .menu {
  text-align: start;
}
#secondaryHeader .upperRow .basketIcon {
  position: relative;
  text-align: end;
}
#secondaryHeader .upperRow .basketIcon .item {
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: red;
  color: white;
  right: -5px;
  bottom: 11px;
  border-radius: 50px;
  padding: 2px;
}
#secondaryHeader .upperRow .basketIcon .item span {
  position: absolute;
  left: 4px;
  bottom: -1px;
  font-size: 12px;
}
#secondaryHeader .bottomRow .inputDiv {
  padding-top: 20px;
  font-family: "Rubik", sans-serif;
}
#secondaryHeader .bottomRow .inputDiv input {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  border: none;
}

#slider {
  margin-top: 20px;
}
#slider .slide {
  width: 100%;
}
#slider .slide .owl-carousel .owl-stage-outer .owl-stage .owl-item .item img {
  object-fit: contain;
  width: 100%;
}
#slider .slide .owl-carousel .owl-nav .owl-prev {
  color: white;
  border-radius: 50px;
  padding-top: 10px;
  text-align: center;
  width: 46px;
  height: 46px;
  background-color: white;
  color: #8f8f8f;
  border: 1px solid #e6e6e6;
  position: absolute;
  top: 50%;
  left: 18px;
  font-size: 22px;
  z-index: 5;
  font-size: 35px;
  cursor: pointer;
}
#slider .slide .owl-carousel .owl-nav .owl-prev span {
  position: absolute;
  bottom: 0px;
  left: 15px;
  font-weight: 100;
}
#slider .slide .owl-carousel .owl-nav .owl-prev:hover {
  background-color: #ff7e00;
  border-color: #ff7e00;
}
#slider .slide .owl-carousel .owl-nav .owl-next {
  cursor: pointer;
  color: white;
  border: 1px solid #e6e6e6;
  border-radius: 50px;
  text-align: center;
  width: 46px;
  height: 46px;
  background-color: white;
  color: #8f8f8f;
  position: absolute;
  top: 50%;
  right: 1px;
  z-index: 5;
  font-size: 35px;
}
#slider .slide .owl-carousel .owl-nav .owl-next span {
  position: absolute;
  bottom: 0px;
  right: 13px;
  font-weight: 100;
}
#slider .slide .owl-carousel .owl-nav .owl-next:hover {
  background-color: #ff7e00;
  border-color: #ff7e00;
}
#slider .advertising div img {
  width: 100%;
  height: 160px;
}
#slider .advertising .second,
#slider .advertising .third {
  margin-top: 20px;
}
@media only screen and (max-width: 821px) {
  #slider .advertising div img {
    width: 100%;
    height: 160px;
  }
  #slider .advertising .second,
  #slider .advertising .third {
    margin-top: 20px;
  }
}
#slider .aboutPage {
  margin-top: 20px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#slider .aboutPage .rocket,
#slider .aboutPage .refresh,
#slider .aboutPage .support,
#slider .aboutPage .member {
  display: flex;
}
#slider .aboutPage .rocket .icon,
#slider .aboutPage .refresh .icon,
#slider .aboutPage .support .icon,
#slider .aboutPage .member .icon {
  padding: 13px;
  cursor: pointer;
}
#slider .aboutPage .rocket .icon i,
#slider .aboutPage .refresh .icon i,
#slider .aboutPage .support .icon i,
#slider .aboutPage .member .icon i {
  font-size: 45px;
  transition: 0.5s;
}
#slider .aboutPage .rocket .icon i:hover,
#slider .aboutPage .refresh .icon i:hover,
#slider .aboutPage .support .icon i:hover,
#slider .aboutPage .member .icon i:hover {
  color: #ff7e00;
}
#slider .aboutPage .rocket .text,
#slider .aboutPage .refresh .text,
#slider .aboutPage .support .text,
#slider .aboutPage .member .text {
  font-family: "Rubik", sans-serif;
  padding: 10px;
}
#slider .aboutPage .rocket .text ul,
#slider .aboutPage .refresh .text ul,
#slider .aboutPage .support .text ul,
#slider .aboutPage .member .text ul {
  cursor: pointer;
  padding: 0;
  margin: 0;
}
#slider .aboutPage .rocket .text ul li,
#slider .aboutPage .refresh .text ul li,
#slider .aboutPage .support .text ul li,
#slider .aboutPage .member .text ul li {
  list-style: none;
  color: #666;
  font-size: 14px;
}
#slider .aboutPage .rocket .text ul .h h5,
#slider .aboutPage .refresh .text ul .h h5,
#slider .aboutPage .support .text ul .h h5,
#slider .aboutPage .member .text ul .h h5 {
  font-size: 14px;
  color: #4f4f4f;
  transition: 0.5s;
}
#slider .aboutPage .rocket .text ul .h h5:hover,
#slider .aboutPage .refresh .text ul .h h5:hover,
#slider .aboutPage .support .text ul .h h5:hover,
#slider .aboutPage .member .text ul .h h5:hover {
  color: #ff7e00;
}
#slider .aboutPage .refresh,
#slider .aboutPage .support,
#slider .aboutPage .member {
  border-left: 1px solid #ebebeb;
}
@media only screen and (max-width: 821px) {
  #slider .aboutPage .refresh,
  #slider .aboutPage .support,
  #slider .aboutPage .member {
    border: none;
  }
}

#main {
  display: flex;
}
#main .leftSide {
  padding-top: 25px;
  padding-bottom: 25px;
}
#main .leftSide .banner {
  width: 100%;
  padding: 0;
}
#main .leftSide .banner img {
  width: 90%;
}
#main .leftSide .bestSellers,
#main .leftSide .newProduct {
  padding-top: 20px;
  width: 90%;
}
#main .leftSide .bestSellers .title .text h5,
#main .leftSide .newProduct .title .text h5 {
  font-family: "Rubik", sans-serif;
  padding: 10px;
}
#main .leftSide .bestSellers .title .lineOrange,
#main .leftSide .newProduct .title .lineOrange {
  display: flex;
}
#main .leftSide .bestSellers .title .lineOrange .line,
#main .leftSide .newProduct .title .lineOrange .line {
  width: 20%;
  height: 3px;
  background-color: #ff7e00;
}
#main .leftSide .bestSellers .title .lineOrange .lineSecondary,
#main .leftSide .newProduct .title .lineOrange .lineSecondary {
  width: 80%;
  height: 3px;
  background-color: #ebebeb;
}
#main .leftSide .bestSellers .responsive,
#main .leftSide .newProduct .responsive {
  position: relative;
}
#main .leftSide .bestSellers .responsive .prev_arrow,
#main .leftSide .newProduct .responsive .prev_arrow {
  color: white;
  border-radius: 50px;
  padding-top: 4px;
  text-align: center;
  width: 24px;
  height: 24px;
  background-color: white;
  color: #8f8f8f;
  border: 1px solid #e6e6e6;
  position: absolute;
  top: -57px;
  right: 30px;
  font-size: 14px;
  z-index: 5;
  cursor: pointer;
}
#main .leftSide .bestSellers .responsive .prev_arrow:hover,
#main .leftSide .newProduct .responsive .prev_arrow:hover {
  border-color: #ff7e00;
}
#main .leftSide .bestSellers .responsive .next_arrow,
#main .leftSide .newProduct .responsive .next_arrow {
  cursor: pointer;
  color: white;
  border: 1px solid #e6e6e6;
  border-radius: 50px;
  padding-top: 4px;
  text-align: center;
  width: 24px;
  height: 24px;
  background-color: white;
  color: #8f8f8f;
  position: absolute;
  top: -57px;
  right: 1px;
  z-index: 5;
  font-size: 14px;
}
#main .leftSide .bestSellers .responsive .next_arrow:hover,
#main .leftSide .newProduct .responsive .next_arrow:hover {
  border-color: #ff7e00;
}
#main .leftSide .bestSellers .responsive div ul,
#main .leftSide .newProduct .responsive div ul {
  padding: 0;
  margin: 0;
}
#main .leftSide .bestSellers .responsive div ul li,
#main .leftSide .newProduct .responsive div ul li {
  list-style: none;
  border-top: 1px solid rgba(208, 215, 222, 0.8392156863);
  padding-top: 10px;
  padding-bottom: 10px;
}
#main .leftSide .bestSellers .responsive div ul li a,
#main .leftSide .newProduct .responsive div ul li a {
  display: flex;
  text-decoration: none;
}
#main .leftSide .bestSellers .responsive div ul li a .image img,
#main .leftSide .newProduct .responsive div ul li a .image img {
  width: 90px;
}
#main .leftSide .bestSellers .responsive div ul li a .text-price,
#main .leftSide .newProduct .responsive div ul li a .text-price {
  margin-left: 20px;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
}
#main .leftSide .bestSellers .responsive div ul li a .text-price .text p,
#main .leftSide .newProduct .responsive div ul li a .text-price .text p {
  color: #4f4f4f;
  transition: 0.5s;
}
#main .leftSide .bestSellers .responsive div ul li a .text-price .text p:hover,
#main .leftSide .newProduct .responsive div ul li a .text-price .text p:hover {
  color: #ff7e00;
}
#main .leftSide .bestSellers .responsive div ul li a .text-price .price span,
#main .leftSide .newProduct .responsive div ul li a .text-price .price span {
  color: #ff7e00;
}
#main .leftSide .advertisingWatch {
  padding-top: 20px;
  padding-bottom: 20px;
}
#main .leftSide .advertisingWatch img {
  object-fit: contain;
  width: 100%;
}
#main .leftSide .reviews {
  border: 1px solid #e6e6e6;
  margin-top: 20px;
}
#main .leftSide .reviews .text-image {
  background-color: #f2f6f8;
  padding: 40px 15px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#main .leftSide .reviews .text-image .image img {
  width: 30px;
}
#main .leftSide .reviews .text-image .text {
  text-align: justify;
  margin-top: 10px;
  width: 200px;
}
#main .leftSide .reviews .text-image .text p {
  color: #333e48;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
}
#main .leftSide .reviews .about {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}
#main .leftSide .reviews .about .name {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .leftSide .reviews .about .name p {
  color: #333e48;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
}
#main .rightSide {
  padding-top: 20px;
  padding-bottom: 20px;
}
#main .rightSide .mainContent .title .text h5 {
  font-family: "Rubik", sans-serif;
  padding: 10px;
  font-size: 20px;
  padding: 0 0 18px 0;
  margin: 0;
}
#main .rightSide .mainContent .title .lineOrange {
  display: flex;
}
#main .rightSide .mainContent .title .lineOrange .line {
  width: 5%;
  height: 2px;
  background-color: #ff7e00;
}
#main .rightSide .mainContent .title .lineOrange .lineSecondary {
  width: 95%;
  height: 2px;
  background-color: #ebebeb;
}
#main .rightSide .mainContent .deals {
  padding-top: 30px;
  padding-bottom: 10px;
  position: relative;
}
#main .rightSide .mainContent .deals .prev_arrow {
  color: white;
  border-radius: 50px;
  padding-top: 10px;
  text-align: center;
  width: 46px;
  height: 46px;
  background-color: white;
  color: #8f8f8f;
  border: 1px solid #e6e6e6;
  position: absolute;
  top: 50%;
  left: 18px;
  font-size: 22px;
  z-index: 5;
  cursor: pointer;
}
#main .rightSide .mainContent .deals .prev_arrow:hover {
  background-color: #ff7e00;
}
#main .rightSide .mainContent .deals .next_arrow {
  cursor: pointer;
  color: white;
  border: 1px solid #e6e6e6;
  border-radius: 50px;
  padding-top: 10px;
  text-align: center;
  width: 46px;
  height: 46px;
  background-color: white;
  color: #8f8f8f;
  position: absolute;
  top: 50%;
  right: 1px;
  z-index: 5;
  font-size: 22px;
}
#main .rightSide .mainContent .deals .next_arrow:hover {
  background-color: #ff7e00;
}
#main .rightSide .mainContent .deals ul {
  padding: 0;
  margin: 0;
}
#main .rightSide .mainContent .deals ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .rightSide .mainContent .deals ul li .image {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .rightSide .mainContent .deals ul li .image img {
  object-fit: contain;
  width: 270px;
}
#main .rightSide .mainContent .deals ul li .textDeal {
  font-family: "Rubik", sans-serif;
}
#main .rightSide .mainContent .deals ul li .textDeal .title a {
  text-decoration: none;
  color: #333;
}
#main .rightSide .mainContent .deals ul li .textDeal .title a h4 {
  font-size: 16px;
  transition: 0.4s;
}
#main .rightSide .mainContent .deals ul li .textDeal .title a h4:hover {
  color: #ff7e00;
}
#main .rightSide .mainContent .deals ul li .textDeal .textContent {
  padding-top: 10px;
  width: 425px;
}
#main .rightSide .mainContent .deals ul li .textDeal .textContent p {
  font-size: 14px;
}
#main .rightSide .mainContent .deals ul li .textDeal .price {
  padding-top: 10px;
}
#main .rightSide .mainContent .deals ul li .textDeal .price ul {
  display: flex;
  padding: 0;
  margin: 0;
}
#main .rightSide .mainContent .deals ul li .textDeal .price ul li {
  list-style: none;
}
#main .rightSide .mainContent .deals ul li .textDeal .price ul .old {
  color: #999;
  font-size: 14px;
  text-decoration-line: line-through;
}
#main .rightSide .mainContent .deals ul li .textDeal .price ul .new {
  color: #ff7e00;
  font-weight: 500;
  margin-left: 15px;
}
#main .rightSide .mainContent .deals ul li .textDeal .addToCard {
  padding-top: 20px;
}
#main .rightSide .mainContent .deals ul li .textDeal .addToCard a {
  padding: 3px 0 6px 0;
  border-radius: 20px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 245px;
  height: 35px;
  border: 1px solid;
  color: #666;
  background-color: #f2f5f7;
  border-color: #f2f5f7;
}
#main .rightSide .mainContent .deals ul li .textDeal .addToCard a:hover {
  background-color: #ff7e00;
  color: white;
}
#main .rightSide .mainContent .productFirst,
#main .rightSide .mainContent .productSecond {
  padding-top: 10px;
}
#main .rightSide .mainContent .productFirst .title .upperLine,
#main .rightSide .mainContent .productSecond .title .upperLine {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main .rightSide .mainContent .productFirst .title .upperLine ul,
#main .rightSide .mainContent .productSecond .title .upperLine ul {
  display: flex;
  padding: 0;
  margin: 0;
}
#main .rightSide .mainContent .productFirst .title .upperLine ul li,
#main .rightSide .mainContent .productSecond .title .upperLine ul li {
  font-size: 14px;
  margin-right: 20px;
  list-style: none;
}
#main .rightSide .mainContent .productFirst .title .upperLine ul li a,
#main .rightSide .mainContent .productSecond .title .upperLine ul li a {
  color: #93979c;
  text-decoration: none;
}
#main .rightSide .mainContent .productFirst .products,
#main .rightSide .mainContent .productSecond .products {
  position: relative;
}
#main .rightSide .mainContent .productFirst .products .prev_arrow,
#main .rightSide .mainContent .productSecond .products .prev_arrow {
  color: white;
  border-radius: 50px;
  padding-top: 10px;
  text-align: center;
  width: 46px;
  height: 46px;
  background-color: white;
  color: #8f8f8f;
  border: 1px solid #e6e6e6;
  position: absolute;
  top: 50%;
  left: 18px;
  font-size: 22px;
  z-index: 5;
  cursor: pointer;
}
#main .rightSide .mainContent .productFirst .products .prev_arrow:hover,
#main .rightSide .mainContent .productSecond .products .prev_arrow:hover {
  background-color: #ff7e00;
}
#main .rightSide .mainContent .productFirst .products .next_arrow,
#main .rightSide .mainContent .productSecond .products .next_arrow {
  cursor: pointer;
  color: white;
  border: 1px solid #e6e6e6;
  border-radius: 50px;
  padding-top: 10px;
  text-align: center;
  width: 46px;
  height: 46px;
  background-color: white;
  color: #8f8f8f;
  position: absolute;
  top: 50%;
  right: 1px;
  z-index: 5;
  font-size: 22px;
}
#main .rightSide .mainContent .productFirst .products .next_arrow:hover,
#main .rightSide .mainContent .productSecond .products .next_arrow:hover {
  background-color: #ff7e00;
}
#main .rightSide .mainContent .productFirst .products ul,
#main .rightSide .mainContent .productSecond .products ul {
  padding: 0;
  margin: 0;
}
#main .rightSide .mainContent .productFirst .products ul li,
#main .rightSide .mainContent .productSecond .products ul li {
  border-right: 1px solid #ebebeb;
  list-style: none;
}
#main .rightSide .mainContent .productFirst .products ul li .image a,
#main .rightSide .mainContent .productSecond .products ul li .image a {
  text-decoration: none;
}
#main .rightSide .mainContent .productFirst .products ul li .image a img,
#main .rightSide .mainContent .productSecond .products ul li .image a img {
  width: 240px;
  margin: 0 auto;
}
#main .rightSide .mainContent .productFirst .products ul li .text,
#main .rightSide .mainContent .productSecond .products ul li .text {
  text-align: center;
}
#main .rightSide .mainContent .productFirst .products ul li .text:hover .addToCard,
#main .rightSide .mainContent .productSecond .products ul li .text:hover .addToCard {
  display: block;
}
#main .rightSide .mainContent .productFirst .products ul li .text .brand,
#main .rightSide .mainContent .productSecond .products ul li .text .brand {
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  color: #999;
}
#main .rightSide .mainContent .productFirst .products ul li .text .name,
#main .rightSide .mainContent .productSecond .products ul li .text .name {
  color: #4f4f4f;
  font-size: 15px;
}
#main .rightSide .mainContent .productFirst .products ul li .text .price,
#main .rightSide .mainContent .productSecond .products ul li .text .price {
  margin-top: 15px;
  font-size: 16px;
  color: #ff7e00;
}
#main .rightSide .mainContent .productFirst .products ul li .text .addToCard,
#main .rightSide .mainContent .productSecond .products ul li .text .addToCard {
  display: none;
}
#main .rightSide .mainContent .productFirst .products ul li .text .addToCard a,
#main .rightSide .mainContent .productSecond .products ul li .text .addToCard a {
  padding-top: 2px;
  border-radius: 20px;
  height: 30px;
  width: 130px;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #ff7e00;
}
#main .rightSide .mainContent .adverstingMainPage {
  padding-top: 40px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}
#main .rightSide .mainContent .adverstingMainPage .firstImage img {
  object-fit: contain;
  width: 97%;
}
#main .rightSide .mainContent .adverstingMainPage .secondImage {
  text-align: end;
}
#main .rightSide .mainContent .adverstingMainPage .secondImage img {
  object-fit: contain;
  width: 97%;
}
#main .rightSide .mainContent .adverstingMainPageSecond {
  padding-top: 40px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}
#main .rightSide .mainContent .adverstingMainPageSecond .firstImage img {
  object-fit: contain;
  width: 97%;
}
#main .rightSide .mainContent .adverstingMainPageSecond .secondImage {
  text-align: end;
}
#main .rightSide .mainContent .adverstingMainPageSecond .secondImage img {
  object-fit: contain;
  width: 97%;
}
#main .rightSide .mainContent .category .all,
#main .rightSide .mainContent .categoryForMD .all {
  display: flex;
  flex-wrap: wrap;
}
#main .rightSide .mainContent .category .all .categSearch,
#main .rightSide .mainContent .categoryForMD .all .categSearch {
  font-size: 14px;
}
#main .rightSide .mainContent .category .all .categSearch .image img,
#main .rightSide .mainContent .categoryForMD .all .categSearch .image img {
  object-fit: contain;
  width: 73%;
}
#main .rightSide .mainContent .category .all .categSearch .title,
#main .rightSide .mainContent .categoryForMD .all .categSearch .title {
  margin-top: 15px;
  font-size: 12px;
  transition: 0.4s;
}
#main .rightSide .mainContent .category .all .categSearch .title:hover,
#main .rightSide .mainContent .categoryForMD .all .categSearch .title:hover {
  color: #ff7e00;
}
#main .rightSide .mainContent .category .all .categSearch .cat ul,
#main .rightSide .mainContent .categoryForMD .all .categSearch .cat ul {
  padding: 0;
  margin: 0;
}
#main .rightSide .mainContent .category .all .categSearch .cat ul li,
#main .rightSide .mainContent .categoryForMD .all .categSearch .cat ul li {
  margin-top: 10px;
  list-style: none;
}
#main .rightSide .mainContent .category .all .categSearch .cat ul li a,
#main .rightSide .mainContent .categoryForMD .all .categSearch .cat ul li a {
  text-decoration: none;
  color: #4f4f4f;
  transition: 0.4s;
}
#main .rightSide .mainContent .category .all .categSearch .cat ul li a:hover,
#main .rightSide .mainContent .categoryForMD .all .categSearch .cat ul li a:hover {
  color: #ff7e00;
}
#main .rightSide .mainContent .categoryForMD .allForMd {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
#main .rightSide .mainContent .categoryForMD .allForMd .prev_arrow {
  color: white;
  border-radius: 50px;
  padding-top: 10px;
  text-align: center;
  width: 46px;
  height: 46px;
  background-color: white;
  color: #8f8f8f;
  border: 1px solid #e6e6e6;
  position: absolute;
  top: 50%;
  left: 18px;
  font-size: 22px;
  z-index: 5;
  cursor: pointer;
}
#main .rightSide .mainContent .categoryForMD .allForMd .prev_arrow:hover {
  background-color: #ff7e00;
}
#main .rightSide .mainContent .categoryForMD .allForMd .next_arrow {
  cursor: pointer;
  color: white;
  border: 1px solid #e6e6e6;
  border-radius: 50px;
  padding-top: 10px;
  text-align: center;
  width: 46px;
  height: 46px;
  background-color: white;
  color: #8f8f8f;
  position: absolute;
  top: 50%;
  right: 1px;
  z-index: 5;
  font-size: 22px;
}
#main .rightSide .mainContent .categoryForMD .allForMd .next_arrow:hover {
  background-color: #ff7e00;
}
#main .rightSide .mainContent .categoryForMD .allForMd .categSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
}
#main .rightSide .mainContent .categoryForMD .allForMd .categSearch .image img {
  object-fit: contain;
  width: 190px;
  margin: 0 auto;
}
#main .rightSide .mainContent .categoryForMD .allForMd .categSearch .title {
  margin-top: 15px;
  font-size: 12px;
  transition: 0.4s;
}
#main .rightSide .mainContent .categoryForMD .allForMd .categSearch .title:hover {
  color: #ff7e00;
}
#main .rightSide .mainContent .categoryForMD .allForMd .categSearch .cat ul {
  padding: 0;
  margin: 0;
}
#main .rightSide .mainContent .categoryForMD .allForMd .categSearch .cat ul li {
  margin-top: 10px;
  list-style: none;
}
#main .rightSide .mainContent .categoryForMD .allForMd .categSearch .cat ul li a {
  text-decoration: none;
  color: #4f4f4f;
  transition: 0.4s;
}
#main .rightSide .mainContent .categoryForMD .allForMd .categSearch .cat ul li a:hover {
  color: #ff7e00;
}

footer {
  background-color: #232f3f;
}
footer .upper {
  padding: 45px;
}
footer .upper .logo-info .adress .ear {
  margin-top: 20px;
  display: flex;
}
footer .upper .logo-info .adress .ear .text {
  font-family: "Rubik", sans-serif;
}
footer .upper .logo-info .adress .ear .text ul {
  padding: 0;
  margin: 0;
  margin-left: 10px;
}
footer .upper .logo-info .adress .ear .text ul li {
  list-style: none;
  color: white;
}
footer .upper .logo-info .adress .ear .text ul li a {
  text-decoration: none;
  color: #ff7e00;
  transition: 0.4s;
}
footer .upper .logo-info .adress .ear .text ul li a:hover {
  color: white;
}
footer .upper .logo-info .adress .ear .text ul .hot {
  font-size: 13px;
}
footer .upper .logo-info .adress address {
  font-family: "Rubik", sans-serif;
  margin-top: 10px;
  color: #93979c;
  font-size: 15px;
}
footer .upper .logo-info .adress .email {
  font-family: "Rubik", sans-serif;
  color: #93979c;
}
footer .upper .logo-info .adress .email a {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: #ff7e00;
  transition: 0.4s;
}
footer .upper .logo-info .adress .email a:hover {
  color: white;
}
footer .upper .information {
  margin-left: 20px;
}
footer .upper .information .title,
footer .upper .brands .title,
footer .upper .categories .title {
  font-family: "Rubik", sans-serif;
  color: white;
  font-size: 20px;
}
footer .upper .information .nav,
footer .upper .brands .nav,
footer .upper .categories .nav {
  margin-top: 20px;
}
footer .upper .information .nav ul,
footer .upper .brands .nav ul,
footer .upper .categories .nav ul {
  padding: 0;
  margin: 0;
  line-height: 35px;
  font-size: 15px;
}
footer .upper .information .nav ul li,
footer .upper .brands .nav ul li,
footer .upper .categories .nav ul li {
  font-family: "Rubik", sans-serif;
  list-style: none;
}
footer .upper .information .nav ul li a,
footer .upper .brands .nav ul li a,
footer .upper .categories .nav ul li a {
  text-decoration: none;
  color: #93979c;
}
footer .bottomLine {
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}
footer .bottomLine .text p {
  margin: 0;
  color: #93979c;
  font-size: 14px;
}
footer .bottomLine .text p a {
  text-decoration: none;
  color: #ff7e00;
  transition: 0.5s;
}
footer .bottomLine .text p a:hover {
  color: white;
}
footer .bottomLine .paymant ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .bottomLine .paymant ul li {
  list-style: none;
  color: #93979c;
  margin-right: 15px;
}
footer .bottomLine .paymant ul li i {
  font-size: 25px;
}/*# sourceMappingURL=style.css.map */